In [1]:
import pandas as pd
import pickle

In [2]:
df = pd.read_pickle('/home/anuraaga/Documents/DataCodes/Projects/pricePredictor/dataset/dataset_car/autos_v5.pkl')

In [3]:
df

,seller_type,year,transmission,km_driven,fuel,brand,selling_price
0,individual,1993,manual,150000,petrol,volkswagen,43200
1,individual,2011,manual,125000,diesel,audi,1647000
2,individual,2004,automatic,125000,diesel,jeep,882000
3,individual,2001,manual,150000,petrol,volkswagen,135000
4,individual,2008,manual,90000,diesel,skoda,324000
...,...,...,...,...,...,...,...
379424,individual,2013,manual,110000,petrol,hyundai,320000
379425,individual,2007,manual,119000,diesel,hyundai,135000
379426,individual,2009,manual,120000,diesel,maruti,382000
379427,individual,2013,manual,25000,diesel,tata,290000
379428,individual,2013,manual,25000,diesel,tata,290000

In [4]:
df.isna().sum()

seller_type      0
year             0
transmission     0
km_driven        0
fuel             0
brand            0
selling_price    0
dtype: int64

In [5]:
df.shape

(379429, 7)

In [6]:
df.dtypes

seller_type      object
year              int64
transmission     object
km_driven         int64
fuel             object
brand            object
selling_price     int64
dtype: object

In [7]:
df['year'].unique()

array([1993, 2011, 2004, 2001, 2008, 1995, 1980, 2014, 1998, 2005, 1910,
       2016, 2007, 2009, 2002, 2018, 1997, 1990, 2017, 1981, 2003, 1994,
       1991, 1984, 2006, 1999, 2012, 2010, 2000, 1992, 2013, 1996, 1985,
       1989, 2015, 1968, 1982, 1976, 1983, 1959, 1973, 1111, 1969, 1971,
       1987, 1986, 1988, 1967, 1970, 1965, 1945, 1925, 1974, 1979, 1955,
       1978, 1972, 1977, 1961, 1963, 1964, 1960, 1966, 1975, 1937, 1936,
       5000, 1954, 1958, 9999, 1956, 3200, 1000, 1933, 1941, 1962, 8888,
       1500, 2200, 4100, 1929, 1951, 1957, 1940, 3000, 2066, 1949, 2019,
       1800, 1953, 1935, 1234, 8000, 5300, 9000, 2900, 6000, 5900, 5911,
       1400, 1950, 4000, 1948, 1952, 1200, 8500, 1932, 1255, 1927, 1923,
       1931, 3700, 3800, 4800, 1942, 7000, 1911, 6500, 2290, 2500, 1930,
       1001, 6200, 9450, 1944, 1943, 1947, 1934, 1938, 1688, 2800, 1253,
       1928, 7500, 1919, 5555, 7777, 5600, 1600, 1939, 2222, 1039, 9996,
       1300, 8455, 1915, 4500, 1920, 1602, 7800, 9229, 1946, 7100, 8200,
       3500, 2020])

In [8]:
df[(df['year']>=1900) & (df['year']<=2023)]['year'].unique()

array([1993, 2011, 2004, 2001, 2008, 1995, 1980, 2014, 1998, 2005, 1910,
       2016, 2007, 2009, 2002, 2018, 1997, 1990, 2017, 1981, 2003, 1994,
       1991, 1984, 2006, 1999, 2012, 2010, 2000, 1992, 2013, 1996, 1985,
       1989, 2015, 1968, 1982, 1976, 1983, 1959, 1973, 1969, 1971, 1987,
       1986, 1988, 1967, 1970, 1965, 1945, 1925, 1974, 1979, 1955, 1978,
       1972, 1977, 1961, 1963, 1964, 1960, 1966, 1975, 1937, 1936, 1954,
       1958, 1956, 1933, 1941, 1962, 1929, 1951, 1957, 1940, 1949, 2019,
       1953, 1935, 1950, 1948, 1952, 1932, 1927, 1923, 1931, 1942, 1911,
       1930, 1944, 1943, 1947, 1934, 1938, 1928, 1919, 1939, 1915, 1920,
       1946, 2020])

In [9]:
clrdf = df[(df['year']>=1900) & (df['year']<=2023)]

In [10]:
clrdf

,seller_type,year,transmission,km_driven,fuel,brand,selling_price
0,individual,1993,manual,150000,petrol,volkswagen,43200
1,individual,2011,manual,125000,diesel,audi,1647000
2,individual,2004,automatic,125000,diesel,jeep,882000
3,individual,2001,manual,150000,petrol,volkswagen,135000
4,individual,2008,manual,90000,diesel,skoda,324000
...,...,...,...,...,...,...,...
379424,individual,2013,manual,110000,petrol,hyundai,320000
379425,individual,2007,manual,119000,diesel,hyundai,135000
379426,individual,2009,manual,120000,diesel,maruti,382000
379427,individual,2013,manual,25000,diesel,tata,290000
379428,individual,2013,manual,25000,diesel,tata,290000

In [11]:
clrdf['brand'].unique()

array(['volkswagen', 'audi', 'jeep', 'skoda', 'bmw', 'peugeot', 'ford',
       'mazda', 'nissan', 'renault', 'mercedesbenz', 'opel', 'seat',
       'citroen', 'honda', 'fiat', 'mini', 'smart', 'hyundai',
       'sonstigeautos', 'alfaromeo', 'subaru', 'volvo', 'mitsubishi',
       'kia', 'suzuki', 'lancia', 'porsche', 'toyota', 'chevrolet',
       'dacia', 'daihatsu', 'trabant', 'saab', 'chrysler', 'jaguar',
       'daewoo', 'rover', 'landrover', 'lada', 'maruti', 'mahindra',
       'tata', 'datsun', 'mercedes', 'lexus', 'land', 'mg', 'force',
       'ambassador', 'ashok', 'isuzu'], dtype=object)

In [12]:
data = clrdf.copy()

In [13]:
data['brand'] =data['brand'].replace({'mercedes':'mercedesbenz', 'rover':'landrover', 'land':'landrover'})

In [14]:
data['brand'].unique()

array(['volkswagen', 'audi', 'jeep', 'skoda', 'bmw', 'peugeot', 'ford',
       'mazda', 'nissan', 'renault', 'mercedesbenz', 'opel', 'seat',
       'citroen', 'honda', 'fiat', 'mini', 'smart', 'hyundai',
       'sonstigeautos', 'alfaromeo', 'subaru', 'volvo', 'mitsubishi',
       'kia', 'suzuki', 'lancia', 'porsche', 'toyota', 'chevrolet',
       'dacia', 'daihatsu', 'trabant', 'saab', 'chrysler', 'jaguar',
       'daewoo', 'landrover', 'lada', 'maruti', 'mahindra', 'tata',
       'datsun', 'lexus', 'mg', 'force', 'ambassador', 'ashok', 'isuzu'],
      dtype=object)

In [15]:
data.isna().sum()

seller_type      0
year             0
transmission     0
km_driven        0
fuel             0
brand            0
selling_price    0
dtype: int64

In [18]:
len(clrdf['brand'].unique())

52

In [19]:
len(data['brand'].unique())

49

In [16]:
pickle.dump(data, open('/home/anuraaga/Documents/DataCodes/Projects/pricePredictor/dataset/dataset_car/autos_v6.pkl', 'wb'))