In [1]:
import pandas as pd
import pickle
import numpy as np

In [2]:
df = pd.read_pickle('/home/anuraaga/Documents/DataCodes/Projects/pricePredictor/dataset/dataset_bike/bikes_v1.pkl')

In [3]:
df

,model_year,kms_driven,owner,location,mileage,power,price,name,model
0,2017,17000 Km,first owner,hyderabad,\n\n 35 kmpl,19 bhp,63500,Bajaj Avenger Cruise 220,Bajaj
1,2016,50000 Km,first owner,hyderabad,\n\n 35 kmpl,19.80 bhp,115000,Royal Enfield Classic 350cc,Royal
2,2012,14795 Km,first owner,hyderabad,\n\n 30 kmpl,28 bhp,300000,Hyosung GT250R,Hyosung
3,2017,Mileage 28 Kms,first owner,pondicherry,\n\n 28 Kms,34.50 bhp,100000,Bajaj Dominar 400 ABS,Bajaj
4,2020,2000 Km,first owner,bangalore,\n\n,30 bhp,197500,Jawa Perak 330cc,Jawa
...,...,...,...,...,...,...,...,...,...
7852,2011,7000 Km,first owner,agra,\n\n 42 kmpl,16 bhp,55000,Yamaha YZF-R15 150cc,Yamaha
7853,2015,Mileage 80 Kmpl,first owner,delhi,\n\n 80 Kmpl,7.7,28000,Bajaj Discover 100cc,Bajaj
7854,2016,6407 Km,first owner,bangalore,\n\n 65 kmpl,17 bhp,61740,Bajaj Pulsar 180cc,Bajaj
7855,2016,7524 Km,first owner,bangalore,\n\n 57 kmpl,11.80 bhp,49000,Bajaj V15 150cc,Bajaj
7856,2016,15000 Km,first owner,chennai,\n\n 38 kmpl,21 bhp,65000,Bajaj Pulsar 220cc,Bajaj

2. remove km from the end of kms_driven

In [4]:
def getKMdriven(kms):
    try:
        if kms.startswith('Mileage'):
            km = int(kms.split()[1])
        else:
            km = int(kms.split()[0])
        return km
    except ValueError:
        return kms.split()[1]

df['km_driven'] = df['kms_driven'].apply(getKMdriven)

In [5]:
for index, row in df.iterrows():
    if type(row['km_driven']) != int:
        print((index, row['km_driven']))

(145, '55-60')
(629, '96.9')
(1063, '25Kmpl')
(1120, '82.4')
(1194, '82.4')
(1816, '39.1')
(2255, '39.1')
(2912, '40Kmpl')
(3210, '55-60')
(3593, '40Kmpl')
(3777, '55-60')
(4066, '25Kmpl')
(4514, '55-60')
(4537, '25Kmpl')
(5011, '25Kmpl')
(5107, '55-60')
(5372, '55-60')
(5384, '40Kmpl')
(6233, '40Kmpl')
(6315, '55-60')
(6718, '25Kmpl')
(7058, 'Km')
(7161, 'Km')
(7172, 'Km')
(7338, '25Kmpl')
(7375, '55-60')
(7826, '40Kmpl')

In [6]:
# resolving dirty and invalid values
def getKMdriven(kms):
    try:
        if kms.startswith('Mileage'):
            km = int(kms.split()[1])
        elif kms.endswith('Kmpl'):
            km = int(kms[:2])
        else:
            km = int(kms.split()[0])
        return km
    except ValueError:
        km = kms.split()[1]
        if km == 'Km':
            return km
        else:
            return int(km[:2])

df['km_driven'] = df['kms_driven'].apply(getKMdriven)

In [12]:
for index, row in df.iterrows():
    if row['km_driven'] == 'Km':
        df.drop(index, inplace=True)

In [16]:
cldf = df.reset_index().drop('index', axis=1)
cldf

,model_year,kms_driven,owner,location,mileage,power,price,name,model,km_driven
0,2017,17000 Km,first owner,hyderabad,\n\n 35 kmpl,19 bhp,63500,Bajaj Avenger Cruise 220,Bajaj,17000
1,2016,50000 Km,first owner,hyderabad,\n\n 35 kmpl,19.80 bhp,115000,Royal Enfield Classic 350cc,Royal,50000
2,2012,14795 Km,first owner,hyderabad,\n\n 30 kmpl,28 bhp,300000,Hyosung GT250R,Hyosung,14795
3,2017,Mileage 28 Kms,first owner,pondicherry,\n\n 28 Kms,34.50 bhp,100000,Bajaj Dominar 400 ABS,Bajaj,28
4,2020,2000 Km,first owner,bangalore,\n\n,30 bhp,197500,Jawa Perak 330cc,Jawa,2000
...,...,...,...,...,...,...,...,...,...,...
7849,2011,7000 Km,first owner,agra,\n\n 42 kmpl,16 bhp,55000,Yamaha YZF-R15 150cc,Yamaha,7000
7850,2015,Mileage 80 Kmpl,first owner,delhi,\n\n 80 Kmpl,7.7,28000,Bajaj Discover 100cc,Bajaj,80
7851,2016,6407 Km,first owner,bangalore,\n\n 65 kmpl,17 bhp,61740,Bajaj Pulsar 180cc,Bajaj,6407
7852,2016,7524 Km,first owner,bangalore,\n\n 57 kmpl,11.80 bhp,49000,Bajaj V15 150cc,Bajaj,7524
7853,2016,15000 Km,first owner,chennai,\n\n 38 kmpl,21 bhp,65000,Bajaj Pulsar 220cc,Bajaj,15000

In [17]:
pickle.dump(cldf, open('/home/anuraaga/Documents/DataCodes/Projects/pricePredictor/dataset/dataset_bike/bikes_v2.pkl', 'wb'))